.header-wrapper {
  background-image: url("../../assets/photos/background.jpg");
  background-size: cover; /* Adjust the size as needed */
  background-position: center; /* Adjust the position as needed */
  background-repeat: repeat;
  min-height: 4.5rem;
  width: 100%;
  border: 2px solid black;
  // z-index: 1;
  box-sizing: border-box;

  .header-container {
    background-color: rgba(
      0,
      0,
      0,
      0.55
    ); /* Adjust the last value (0.55) for transparency */

  
    padding: 2rem;
    display: flex;
    align-items: top;
    justify-content: space-between;
    .logo-name {
      display: flex;
      flex-direction: column;
      user-select: none;
      .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 2px solid black;
        border-radius: 5%;
        width: 8rem;
        height: 4rem;
        background-color: white;
        img {
          max-width: 98%;
          max-height: 98%;
        }
      }
      .name {
        margin-top: 0.5rem;
        font-size: 20px;
        font-weight: 750;
        color: #fff;
        line-height: 1.6;
      }
    }
    .sidebar-icon {
      border-radius: 50%;
      padding: 0.5rem;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      &:hover {
        background-color: #fe6f3b;
      }
    }
  }
}
