.footer-wrapper {
    background-color: #155264;
    color: white;
    padding: 2rem;
    .footer-content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .section-links {
        display: flex;
        @media only screen and (max-width: 600px) {
            flex-direction: column;

          }
        
        a {
          margin-right: 2rem;
          color: white;
          text-decoration: none;
          font-size: 1.2rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .contact-info {
        text-align: right;
        p {
          margin: 0.5rem 0;
        }
      }
      
      
    }
    // @media only screen and (max-width: 1280px) {
    //     margin-bottom: 5rem;

    //   }
  }

  .small-screen {
    padding-bottom: 5rem;
  }
